#panelAdmin {
    margin: 0;
}

.deleteCat,
.editCat,
.editCar,
.editArt,
.deleteArt,
.editSousCat,
.deleteSousCat {
    background-color: transparent;
    border: white solid;
}

#imgCat,
#imgSousCat,
#imgArt {
    width: 200px;
}

.sticky {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    gap: 5vw;

}

.sticky a {
    text-decoration: none;
    color: #ebc9b4;
    border: solid 1px #e6d9d1;
    padding: 2px;
    border-radius: 10px;
    text-align: center;


}

#panelAdmin {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    text-align: center;
}

/* MODIF CAROUSEL */
    .imgCarousel {
        max-width: 100%;
        max-height: 80%;
    }
.slide {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slides {
    display: flex;
    max-width: 40%;
    margin: 2px;
    padding: 30px;
    background-color: #e6d9d1;
    border-radius: 50px;
    gap: 5px;

}
.updateSlide{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}
.updateSlide input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 2%;
}
.displaySlide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.infosSlide {
    max-width: 100%;
}


@media screen and (max-width: 768px) {

    .slides h3,
    .slides h4,
    .slides p,
    .slides input {
        font-size: smaller;
    }
}

@media screen and (max-width: 610px) {
    .slides input {
        font-size: 9px;
    }
}
@media screen and (max-width: 485px) {
    .slides{
        max-width: 90%;
    }
}


/* Gestion de CATEGORIE */
#formCat {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6d9d1;
    width: 40%;
    margin: auto;
    padding: 3% 3% 3% 3%;
    border-radius: 50px;
}

#formCat form {
    text-align: center;
}

#formCat input {
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 3%;
    margin-bottom: 8%;
}

#creerCat {
    border: solid white 1px;
    background-color: transparent;
    padding: 4px;
}

#cats {
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.divCat {
    display: flex;
    max-width: 100%;
    margin: 2px;
    padding: 30px;
    display: flex;
    border: solid #e6d9d1 2px;
    border-radius: 50px;
}

.divCat input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e6d9d1;
}

.deleteCat {
    width: 100%;
}

#imgCat {
    max-width: 100%;
}

.updateCat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

@media screen and (max-width: 768px) {
    #formCat {
        font-size: smaller;
    }
}

@media screen and (max-width: 485px) {
    .divCat {
        max-width: 90%;
    }

    #imgCat {
        width: 80%;
    }
}

@media screen and (max-width: 425px) {
    #formCat {
        width: 55%;
    }

}

/* Gestion de SOUS-CATEGORIE */
#formSousCat {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6d9d1;
    width: 40%;
    margin: auto;
    padding: 3% 3% 3% 3%;
    border-radius: 50px;
}

#formSousCat form {
    text-align: center;
}

#formSousCat option {
    background-color: #e6d9d1;
}

#formSousCat input,
#formSousCat select {
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 3%;
    margin-bottom: 8%;
}

#creerSousCat {
    border: solid white 1px;
    background-color: transparent;
    padding: 4px;
}

#sousCats {
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.divSousCat {
    display: flex;
    max-width: 100%;
    margin: 2px;
    padding: 30px;
    border: solid #e6d9d1 2px;
    border-radius: 50px;
}

.divSousCat input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e6d9d1;
}

.deleteSousCat {
    width: 100%;
}

#imgSousCat {
    max-width: 100%;
}

.updateSousCat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

@media screen and (max-width: 768px) {
    #formSousCat {
        font-size: smaller;
    }

}

@media screen and (max-width: 485px) {
    .divSousCat {
        max-width: 90%;
    }
}

@media screen and (max-width: 425px) {
    #formSousCat {
        width: 55%;
    }
}

/* Gestion des ARTICLES et du CODE PROMO */
#formArtPromo {
    display: flex;
    justify-content: center;
}

#formArt,
#formPromo {
    font-family: inria sherif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6d9d1;
    height: 30%;
    width: 40%;
    margin: 5%;
    padding: 3% 3% 3% 3%;
    border-radius: 50px;
}

#formArt form,
#formPromo form {
    text-align: center;
}

#formArt textarea {
    background-color: transparent;
}

#formArt option,
#formPromo option {
    background-color: #e6d9d1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#formArt input,
#formPromo input,
#formArt select,
#formPromo select {
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 3%;
    margin-bottom: 8%;
}

#creerArt,
#creerPromo {
    border: solid white 1px;
    background-color: transparent;
    padding: 4px;
}

#arts {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.divArt {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2px;
    padding: 30px;
    border: solid #e6d9d1 2px;
    border-radius: 50px;
    gap: 2vw;
}

.divArt input,
.divArt select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e6d9d1;
}

.deleteArt {
    max-width: 100%;
    display: flex;
    gap: 2vw;
}

.deleteArt img {
    width: 40%;
}

.updateArt {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

@media screen and (max-width: 1024px) {
    #imgArt {
        max-width: 30vw;
        height: 80%;
    }
    .updateArt {
        gap: 3%;
    }
}

@media screen and (max-width: 768px) {
    #formArt,
    #formPromo {
        width: 40%;
    }

    #imgArt {
        width: 30vw;
        /* max-height: 30%; */
    }
}

@media screen and (max-width: 680px) {
    #imgArt {
        width: 30vw;
        max-height: 30%;
    }
    #formArt,
    #formPromo {
        width: 60%;
    }
}

@media screen and (max-width: 600px) {

    #formArt,
    #formPromo {
        width: 50%;
    }

    #imgArt {
        width: 30vw;
        max-height: 30%;
    }

    #formArtPromo {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

@media screen and (max-width: 550px) {
    #imgArt {
        width: 20vw;
        max-height: 10%;
    }
    .divArt p, .divArt input, .divArt select{
        font-size: smaller;
    }
    .divArt h4{
        font-size: large;
    }

    #formArt,
    #formPromo {
        width: 80%;
    }
}
@media screen and (max-width: 485px) {
 .divArt{
    max-width: 90%;
 }
 #imgArt {
    width: 40%;
    max-height: 20%;
}
 .deleteArt {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

}